
.chat-log{
    height: 28rem;
    max-height: 28rem;
    border: 1px solid black;
    overflow-y: auto;
    border-radius: 1px;
    scrollbar-width: none;
    
}

.chat-log::-webkit-scrollbar {
    display: none; /* For WebKit browsers like Chrome and Safari */
}
/* .chat-messages{
    padding: 10px;
    margin: 10px;
    
} */
#chat-message-submit{
    width: -webkit-fill-available;
    
}

/* .col-md-1{
    display: flex;
    justify-content: center;
} */
h1{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.logout{
    display: flex;
    justify-content: right;
    padding-right: 5rem;
    color: black;
}
.container{
    margin-top: 1rem;

}