.chat-log {
    height: 28rem;
    max-height: 28rem;
    overflow-y: auto;
    scrollbar-width: none; /* Hides scrollbar for non-WebKit browsers */
}

.chat-log::-webkit-scrollbar {
    display: none; /* Hides scrollbar for WebKit browsers like Chrome and Safari */
}

#chat-message-submit {
    width: -webkit-fill-available; /* Ensures submit button width fills the available space in WebKit browsers */
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 2rem; /* Centers the h1 element and adds padding on top */
}

.logout {
    display: flex;
    justify-content: right;
    padding-right: 5rem; /* Positions the logout button to the right with padding */
    color: black; /* Sets the text color for the logout button */
}

.container {
    margin-top: 1rem; /* Adds a top margin to the container */
}
