/* Apply a background color to the entire body of the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 50px; /* Height of the alert, ensures content is not hidden behind it */
}
span{
    display: flex;
    justify-content: right;
}
/* Style the container holding the form */
.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px 10px;
    box-sizing: border-box;
}

/* Alert container styles */
.alert-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Main container style */
.main-container {
    padding-top: 60px; /* Space for the alert */
}

/* Alert styling */
.alert {
    margin: 0 auto;
}

/* Style the title of the form */
h3.register, h1 {
    color: #0c0a0a;
    text-align: center;
    margin-bottom: 1rem;
}

h1 {
    margin-right: 7rem;
}

/* Style each form field */
form input, form button {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}

/* Style the form submission button */
button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 0;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
}

/* Style for the login link */
p1 {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

a:hover {
    text-decoration: underline;
}
