/* Apply a background color to the entire body of the page */
body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove the default margin */
}

/* Style the container holding the form */
.container {
    background-color: white; /* White background for the form */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Padding inside the container */
    width: 100%;
    max-width: 400px; /* Maximum width of the container */
    margin: 20px 10px; /* Margin on the top and bottom is 20px, left and right is 10px */
    box-sizing: border-box; /* Include padding in the width */
}

/* Style the title of the form */
h3.register {
    color: #0c0a0a; /* Dark text for better readability */
    text-align: center; /* Center the title text */
    margin-bottom: 1rem; /* Margin at the bottom of the title */
}

/* Style each form field */
form input, form button {
    width: 100%;/* Full width minus padding */
    margin-bottom: 0.5rem; /* Margin at the bottom of each form field */
}

/* Style the form submission button */
button {
    background-color: #0056b3; /* Blue background for the button */
    color: white; /* White text on the button */
    border: none; /* No border on the button */
    padding: 10px 0; /* Padding inside the button */
    margin-top: 1rem; /* Margin above the button */
    cursor: pointer; /* Pointer cursor on hover */
    width: 100%;
}

/* Style for the login link */
p1 {
    display: block; /* Display link as a block */
    text-align: center; /* Center the link text */
    margin-top: 1rem; /* Margin above the link */
     /* Blue text for the link */
    text-decoration: none; /* No underline on the link */
}

a:hover {
    text-decoration: underline; /* Underline on hover for the link */
}
